@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
  background-color:  #e9e8e8;
  font-family: 'Open Sans', sans-serif;
  color: #494646;
  font-size: 17px;
  line-height: 8px;
  text-align: center;
}

h1 {
  color:#494646 ;
  font-family: 'Lora', serif;
  font-size: 20px;
  line-height: 30px;
}

h2 {
  color: #494646;
  font-family: 'Lora', serif;
  font-size: 18px;
  line-height: 20px;
}

h3 {
  color: #494646;
  font-family: 'Lora', serif;
  font-size: 16px;
  line-height: 15px;
}

p {
  line-height: 22px;
}

a {
  color: #242038;
  text-decoration: none;
}

.call-to-action:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: rebeccapurple;
}

.box {
  width: 700px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .box {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .box {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .box {
    width: 300px;
  }
}

.card {
  background-color: rgba(253, 253, 253, 0.5);
  padding: 40px;
  box-shadow: 5px 10px 30px rgba(10, 9, 9, 0.3);
  border-radius: 4px;
  margin: 20px 0;
  text-align: center;
}

.image-circle {
  border-radius : 50px;
  width: 100px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
}

.call-to-action {
    text-decoration: none;
    background-color: #413c412a;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
}
